.write{
    padding-top: 50px;
}
.writeform{
    position: relative;
}
.writeformgroup{
    margin-left: 20%;
    display: flex;
    align-items: center;
    
}
.writeinput{
    
    color: rgb(62, 67, 67);
    padding: auto;
    border: none;
    font-size: 30px;
    width: 70vw;
    margin-top: 10px;
    margin-bottom: 10px;
}
.addicon{
    height: 25px;
    width: 25px;
border-radius: 48%;
margin-right: 5px;
 border: 1px solid; 
 color: rgb(67, 67, 67);
 display: flex;
 align-items: center;
 justify-content: center;
 cursor: pointer;
 margin-top: 10px;
 margin-bottom: 10px;
}
.writeinput:focus{
    outline: none;
    border: none;
}
.writetext{
    font-size: 20px;
    color: rgb(62, 67, 67);
}
.writesubmit{
    position: absolute;
    top: 105%;
    right: 74%;
    color: white;
    background-color: rgb(94, 93, 93);
    height: 15%;
    width: 6%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.writesubmit:hover{
    background-color: rgb(128, 126, 126);
}