.header{
    margin-top: 60px;
}
.headertitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora',serif;
    color: #444;
}
.headertitlelg{
    position: absolute;
    top: 20%;
    font-size: 100px;
}
.headerimg{
    width: 100%;
    height: 450px;
    margin-top: 70px;
    object-fit: cover;
}